# Ignore objects and archives
*.[oa]
*.lo
*.la

.libs
example/example32
example/example64
example/exampleMP

.deps/
Makefile
Makefile.in
aclocal.m4
autoconf/
autom4te.cache/
config.log
config.status
configure
doc/Makefile
doc/Makefile.in
example/.deps/
example/Makefile
example/Makefile.in
genversion.sh
libtool
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
test/Makefile
test/Makefile.in
version.h

pip32
pip64
pipMP
